In [6]:
import pickle

person_pickle_filename = "person_file_list.pickle"

with open(person_pickle_filename, 'rb') as handle:
    person_file_list = pickle.load(handle)

print(person_file_list)

['csv/semantic_frame_1_ObjIdx_211_ObjTag_4.csv', 'csv/semantic_frame_1_ObjIdx_214_ObjTag_4.csv', 'csv/semantic_frame_1_ObjIdx_212_ObjTag_4.csv', 'csv/semantic_frame_1_ObjIdx_210_ObjTag_4.csv', 'csv/semantic_frame_1_ObjIdx_217_ObjTag_4.csv', 'csv/semantic_frame_1_ObjIdx_216_ObjTag_4.csv', 'csv/semantic_frame_1_ObjIdx_213_ObjTag_4.csv', 'csv/semantic_frame_1_ObjIdx_215_ObjTag_4.csv', 'csv/semantic_frame_2_ObjIdx_216_ObjTag_4.csv', 'csv/semantic_frame_2_ObjIdx_217_ObjTag_4.csv', 'csv/semantic_frame_2_ObjIdx_212_ObjTag_4.csv', 'csv/semantic_frame_2_ObjIdx_211_ObjTag_4.csv', 'csv/semantic_frame_2_ObjIdx_210_ObjTag_4.csv', 'csv/semantic_frame_2_ObjIdx_214_ObjTag_4.csv', 'csv/semantic_frame_2_ObjIdx_215_ObjTag_4.csv', 'csv/semantic_frame_2_ObjIdx_221_ObjTag_4.csv', 'csv/semantic_frame_2_ObjIdx_223_ObjTag_4.csv', 'csv/semantic_frame_2_ObjIdx_224_ObjTag_4.csv', 'csv/semantic_frame_2_ObjIdx_222_ObjTag_4.csv', 'csv/semantic_frame_2_ObjIdx_218_ObjTag_4.csv', 'csv/semantic_frame_2_ObjIdx_213_ObjTag_4.csv', 'csv/semantic_frame_2_ObjIdx_220_ObjTag_4.csv', 'csv/semantic_frame_2_ObjIdx_219_ObjTag_4.csv', 'csv/semantic_frame_3_ObjIdx_216_ObjTag_4.csv', 'csv/semantic_frame_3_ObjIdx_217_ObjTag_4.csv', 'csv/semantic_frame_3_ObjIdx_211_ObjTag_4.csv', 'csv/semantic_frame_3_ObjIdx_210_ObjTag_4.csv', 'csv/semantic_frame_3_ObjIdx_212_ObjTag_4.csv', 'csv/semantic_frame_3_ObjIdx_214_ObjTag_4.csv', 'csv/semantic_frame_3_ObjIdx_222_ObjTag_4.csv', 'csv/semantic_frame_3_ObjIdx_223_ObjTag_4.csv', 'csv/semantic_frame_3_ObjIdx_224_ObjTag_4.csv', 'csv/semantic_frame_3_ObjIdx_215_ObjTag_4.csv', 'csv/semantic_frame_3_ObjIdx_221_ObjTag_4.csv', 'csv/semantic_frame_3_ObjIdx_218_ObjTag_4.csv', 'csv/semantic_frame_3_ObjIdx_220_ObjTag_4.csv', 'csv/semantic_frame_3_ObjIdx_213_ObjTag_4.csv', 'csv/semantic_frame_3_ObjIdx_219_ObjTag_4.csv', 'csv/semantic_frame_4_ObjIdx_222_ObjTag_4.csv', 'csv/semantic_frame_4_ObjIdx_223_ObjTag_4.csv', 'csv/semantic_frame_4_ObjIdx_224_ObjTag_4.csv', 'csv/semantic_frame_4_ObjIdx_218_ObjTag_4.csv', 'csv/semantic_frame_4_ObjIdx_216_ObjTag_4.csv', 'csv/semantic_frame_4_ObjIdx_217_ObjTag_4.csv', 'csv/semantic_frame_4_ObjIdx_221_ObjTag_4.csv', 'csv/semantic_frame_4_ObjIdx_212_ObjTag_4.csv', 'csv/semantic_frame_4_ObjIdx_220_ObjTag_4.csv', 'csv/semantic_frame_4_ObjIdx_219_ObjTag_4.csv', 'csv/semantic_frame_4_ObjIdx_211_ObjTag_4.csv', 'csv/semantic_frame_4_ObjIdx_215_ObjTag_4.csv', 'csv/semantic_frame_4_ObjIdx_210_ObjTag_4.csv', 'csv/semantic_frame_4_ObjIdx_214_ObjTag_4.csv', 'csv/semantic_frame_4_ObjIdx_213_ObjTag_4.csv', 'csv/semantic_frame_5_ObjIdx_223_ObjTag_4.csv', 'csv/semantic_frame_5_ObjIdx_224_ObjTag_4.csv', 'csv/semantic_frame_5_ObjIdx_218_ObjTag_4.csv', 'csv/semantic_frame_5_ObjIdx_216_ObjTag_4.csv', 'csv/semantic_frame_5_ObjIdx_217_ObjTag_4.csv', 'csv/semantic_frame_5_ObjIdx_222_ObjTag_4.csv', 'csv/semantic_frame_5_ObjIdx_212_ObjTag_4.csv', 'csv/semantic_frame_5_ObjIdx_211_ObjTag_4.csv', 'csv/semantic_frame_5_ObjIdx_210_ObjTag_4.csv', 'csv/semantic_frame_5_ObjIdx_214_ObjTag_4.csv', 'csv/semantic_frame_5_ObjIdx_215_ObjTag_4.csv', 'csv/semantic_frame_5_ObjIdx_219_ObjTag_4.csv', 'csv/semantic_frame_5_ObjIdx_220_ObjTag_4.csv', 'csv/semantic_frame_5_ObjIdx_221_ObjTag_4.csv', 'csv/semantic_frame_5_ObjIdx_213_ObjTag_4.csv', 'csv/semantic_frame_6_ObjIdx_222_ObjTag_4.csv', 'csv/semantic_frame_6_ObjIdx_223_ObjTag_4.csv', 'csv/semantic_frame_6_ObjIdx_224_ObjTag_4.csv', 'csv/semantic_frame_6_ObjIdx_218_ObjTag_4.csv', 'csv/semantic_frame_6_ObjIdx_219_ObjTag_4.csv', 'csv/semantic_frame_6_ObjIdx_221_ObjTag_4.csv', 'csv/semantic_frame_6_ObjIdx_220_ObjTag_4.csv', 'csv/semantic_frame_6_ObjIdx_212_ObjTag_4.csv', 'csv/semantic_frame_6_ObjIdx_216_ObjTag_4.csv', 'csv/semantic_frame_6_ObjIdx_217_ObjTag_4.csv', 'csv/semantic_frame_6_ObjIdx_211_ObjTag_4.csv', 'csv/semantic_frame_6_ObjIdx_214_ObjTag_4.csv', 'csv/semantic_frame_6_ObjIdx_210_ObjTag_4.csv', 'csv/semantic_frame_6_ObjIdx_215_ObjTag_4.csv', 'csv/semantic_frame_6_ObjIdx_213_ObjTag_4.csv', 'csv/semantic_frame_7_ObjIdx_222_ObjTag_4.csv', 'csv/semantic_frame_7_ObjIdx_223_ObjTag_4.csv', 'csv/semantic_frame_7_ObjIdx_224_ObjTag_4.csv', 'csv/semantic_frame_7_ObjIdx_218_ObjTag_4.csv', 'csv/semantic_frame_7_ObjIdx_221_ObjTag_4.csv', 'csv/semantic_frame_7_ObjIdx_220_ObjTag_4.csv', 'csv/semantic_frame_7_ObjIdx_219_ObjTag_4.csv', 'csv/semantic_frame_7_ObjIdx_212_ObjTag_4.csv', 'csv/semantic_frame_7_ObjIdx_211_ObjTag_4.csv', 'csv/semantic_frame_7_ObjIdx_216_ObjTag_4.csv', 'csv/semantic_frame_7_ObjIdx_217_ObjTag_4.csv', 'csv/semantic_frame_7_ObjIdx_214_ObjTag_4.csv', 'csv/semantic_frame_7_ObjIdx_210_ObjTag_4.csv', 'csv/semantic_frame_7_ObjIdx_213_ObjTag_4.csv', 'csv/semantic_frame_7_ObjIdx_215_ObjTag_4.csv', 'csv/semantic_frame_8_ObjIdx_222_ObjTag_4.csv', 'csv/semantic_frame_8_ObjIdx_223_ObjTag_4.csv', 'csv/semantic_frame_8_ObjIdx_224_ObjTag_4.csv', 'csv/semantic_frame_8_ObjIdx_218_ObjTag_4.csv', 'csv/semantic_frame_8_ObjIdx_212_ObjTag_4.csv', 'csv/semantic_frame_8_ObjIdx_221_ObjTag_4.csv', 'csv/semantic_frame_8_ObjIdx_220_ObjTag_4.csv', 'csv/semantic_frame_8_ObjIdx_219_ObjTag_4.csv', 'csv/semantic_frame_8_ObjIdx_211_ObjTag_4.csv', 'csv/semantic_frame_8_ObjIdx_216_ObjTag_4.csv', 'csv/semantic_frame_8_ObjIdx_217_ObjTag_4.csv', 'csv/semantic_frame_8_ObjIdx_214_ObjTag_4.csv', 'csv/semantic_frame_8_ObjIdx_210_ObjTag_4.csv', 'csv/semantic_frame_8_ObjIdx_215_ObjTag_4.csv', 'csv/semantic_frame_8_ObjIdx_213_ObjTag_4.csv', 'csv/semantic_frame_9_ObjIdx_224_ObjTag_4.csv', 'csv/semantic_frame_9_ObjIdx_218_ObjTag_4.csv', 'csv/semantic_frame_9_ObjIdx_222_ObjTag_4.csv', 'csv/semantic_frame_9_ObjIdx_223_ObjTag_4.csv', 'csv/semantic_frame_9_ObjIdx_221_ObjTag_4.csv', 'csv/semantic_frame_9_ObjIdx_220_ObjTag_4.csv', 'csv/semantic_frame_9_ObjIdx_219_ObjTag_4.csv', 'csv/semantic_frame_9_ObjIdx_212_ObjTag_4.csv', 'csv/semantic_frame_9_ObjIdx_216_ObjTag_4.csv', 'csv/semantic_frame_9_ObjIdx_217_ObjTag_4.csv', 'csv/semantic_frame_9_ObjIdx_211_ObjTag_4.csv', 'csv/semantic_frame_9_ObjIdx_210_ObjTag_4.csv', 'csv/semantic_frame_9_ObjIdx_215_ObjTag_4.csv', 'csv/semantic_frame_9_ObjIdx_214_ObjTag_4.csv', 'csv/semantic_frame_9_ObjIdx_213_ObjTag_4.csv']

In [7]:
from surface_variation import PointCloudAnalysis
import open3d as o3d
import pandas as pd

kdtreeseachknn = o3d.geometry.KDTreeSearchParamKNN(50)

In [14]:

filename = person_file_list[0]

df = pd.read_csv(filename)
df.head()

        # x         y         z  CosAngle  ObjIdx  ObjTag
0  4.863848 -3.929267 -0.479028  0.357849   211.0     4.0
1  4.817050 -3.940205 -0.476775  0.706789   211.0     4.0
2  4.794492 -3.970771 -0.476928  0.683065   211.0     4.0
3  4.803320 -4.027676 -0.480239  0.170939   211.0     4.0
4  4.834697 -3.905713 -0.522598  0.758860   211.0     4.0

In [15]:
df.iloc[:, :3].head()

        # x         y         z
0  4.863848 -3.929267 -0.479028
1  4.817050 -3.940205 -0.476775
2  4.794492 -3.970771 -0.476928
3  4.803320 -4.027676 -0.480239
4  4.834697 -3.905713 -0.522598

In [17]:
df.iloc[:, :3].head().to_numpy()

array([[ 4.8638477 , -3.9292674 , -0.47902784],
       [ 4.8170505 , -3.940205  , -0.4767752 ],
       [ 4.7944922 , -3.9707713 , -0.47692764],
       [ 4.8033204 , -4.0276756 , -0.4802388 ],
       [ 4.8346972 , -3.9057128 , -0.52259827]])

In [18]:
pcd = PointCloudAnalysis(df.iloc[:, :3].head().to_numpy(), kdtreeseachknn)

In [22]:
pcd.get_normalized_surface_variation()

array([0.34793025, 1.        , 0.65365983, 0.        , 0.34793025])

In [34]:
df_feature = pd.DataFrame(pcd.get_normalized_surface_variation(), columns=["surface_variation",])
df_feature

   surface_variation
0            0.34793
1            1.00000
2            0.65366
3            0.00000
4            0.34793

In [36]:
temp = df.iloc[:, :3].head()

pd.concat([temp, df_feature], axis=1)

        # x         y         z  surface_variation
0  4.863848 -3.929267 -0.479028            0.34793
1  4.817050 -3.940205 -0.476775            1.00000
2  4.794492 -3.970771 -0.476928            0.65366
3  4.803320 -4.027676 -0.480239            0.00000
4  4.834697 -3.905713 -0.522598            0.34793

In [38]:
df.shape

(320, 6)

In [53]:
import pickle
from surface_variation import PointCloudAnalysis
import open3d as o3d
import pandas as pd



person_pickle_filename = "person_file_list.pickle"
with open(person_pickle_filename, 'rb') as handle:
    person_file_list = pickle.load(handle)


kdtreeseachknn = o3d.geometry.KDTreeSearchParamKNN(50)

def calculate_features_and_save(file_list):
    df_complete = pd.DataFrame(columns=["surface_variation","planarity","sphericity",])
    for file in file_list:
        df = pd.read_csv(file)
        pcd = PointCloudAnalysis(df.iloc[:, :3].to_numpy(), kdtreeseachknn)
        df_surface_variation = pd.DataFrame(pcd.get_normalized_surface_variation(), columns=["surface_variation",])
        df_planarity = pd.DataFrame(pcd.get_normalized_planarity(), columns=["planarity",])
        df_sphericity = pd.DataFrame(pcd.get_normalized_sphericity(), columns=["sphericity",])
        df_features = pd.concat([df_surface_variation, df_planarity, df_sphericity,], axis=1)
        df_complete = pd.concat([df_complete, df_features], axis=0,)
        
    print(df_complete.head())
    print(df_complete.shape)
    return df_complete

df_person_features = calculate_features_and_save(person_file_list)

/home/nero/Projects/spawn_pedestrian_carla/notebooks/surface_variation.py:46: RuntimeWarning: invalid value encountered in true_divide
  normalized_feature = (feature - feature.min())/(feature.max() - feature.min())

   surface_variation  planarity  sphericity
0           0.740150   0.148927    0.713221
1           0.752240   0.213562    0.760365
2           0.929919   0.259741    1.000000
3           0.916919   0.276420    0.994364
4           0.753820   0.130892    0.718931
(21467, 3)

In [60]:
df_person_features.isna().any()

surface_variation    True
planarity            True
sphericity           True
dtype: bool

In [63]:
df_person_features.isnull().any()

surface_variation    True
planarity            True
sphericity           True
dtype: bool

In [98]:
df_person_features.loc[df_person_features["planarity"].isna()]

   surface_variation  planarity  sphericity
0                NaN        NaN         NaN
1                NaN        NaN         NaN

In [100]:
df_person_filtered = df_person_features.dropna()

In [101]:
df_person_filtered

     surface_variation  planarity  sphericity
0             0.740150   0.148927    0.713221
1             0.752240   0.213562    0.760365
2             0.929919   0.259741    1.000000
3             0.916919   0.276420    0.994364
4             0.753820   0.130892    0.718931
..                 ...        ...         ...
151           0.448711   0.109482    0.299997
152           0.343518   0.122040    0.220663
153           0.438465   0.127920    0.297716
154           0.448711   0.109482    0.299997
155           0.448711   0.109482    0.299997

[21465 rows x 3 columns]

In [104]:
df_person_filtered.isnull().any()
df_person_filtered.isna().any()

surface_variation    False
planarity            False
sphericity           False
dtype: bool

In [111]:
filename = f"csv/person_features_sur_pla_sph_knn50.csv"

df_person_filtered.to_csv(filename, index=False, sep=",")

In [112]:
df = pd.read_csv(filename)
df

       surface_variation  planarity  sphericity
0               0.740150   0.148927    0.713221
1               0.752240   0.213562    0.760365
2               0.929919   0.259741    1.000000
3               0.916919   0.276420    0.994364
4               0.753820   0.130892    0.718931
...                  ...        ...         ...
21460           0.448711   0.109482    0.299997
21461           0.343518   0.122040    0.220663
21462           0.438465   0.127920    0.297716
21463           0.448711   0.109482    0.299997
21464           0.448711   0.109482    0.299997

[21465 rows x 3 columns]

## REading Road cloud, extracting features and saving to csv file

In [118]:
road_filename = "/home/nero/Documents/only_road_cloud_23k.csv"


df = pd.read_csv(road_filename, skiprows=[1, ])
df.head()

         //X        Y        Z  ObjTag
0  21.173100  11.8120 -2.40167     7.0
1  21.244699  11.6827 -2.40167     7.0
2  21.315500  11.5531 -2.40167     7.0
3  21.385500  11.4229 -2.40167     7.0
4  19.408800  11.4568 -2.40167     7.0

In [119]:
import pickle
from surface_variation import PointCloudAnalysis
import open3d as o3d
import pandas as pd



road_filename = "/home/nero/Documents/only_road_cloud_23k.csv"

kdtreeseachknn = o3d.geometry.KDTreeSearchParamKNN(50)

def calculate_features_and_save(file_list, class_type = "road"):
    df_complete = pd.DataFrame(columns=["surface_variation","planarity","sphericity",])
    for file in file_list:
        if class_type == "road":
            skiprows = [1,]
        else:
            skiprows = [0, ]
        df = pd.read_csv(file, skiprows=skiprows)
        pcd = PointCloudAnalysis(df.iloc[:, :3].to_numpy(), kdtreeseachknn)
        df_surface_variation = pd.DataFrame(pcd.get_normalized_surface_variation(), columns=["surface_variation",])
        df_planarity = pd.DataFrame(pcd.get_normalized_planarity(), columns=["planarity",])
        df_sphericity = pd.DataFrame(pcd.get_normalized_sphericity(), columns=["sphericity",])
        df_features = pd.concat([df_surface_variation, df_planarity, df_sphericity,], axis=1)
        df_complete = pd.concat([df_complete, df_features], axis=0,)
        
    print(df_complete.head())
    print(df_complete.shape)
    return df_complete

df_road_features = calculate_features_and_save([road_filename, ])

   surface_variation  planarity  sphericity
0           0.006218   0.188079    0.004025
1           0.006507   0.173624    0.004163
2           0.006796   0.170091    0.004335
3           0.007224   0.152919    0.004544
4           0.011884   0.791808    0.011456
(23067, 3)

In [122]:
df_road_filtered = df_road_features.dropna()

In [123]:
filename = f"csv/road_features_sur_pla_sph_knn50.csv"

df_road_filtered.to_csv(filename, index=False, sep=",")

In [124]:
df_road_filtered.head()

   surface_variation  planarity  sphericity
0           0.006218   0.188079    0.004025
1           0.006507   0.173624    0.004163
2           0.006796   0.170091    0.004335
3           0.007224   0.152919    0.004544
4           0.011884   0.791808    0.011456